.no_content {
    display: flex;
    justify-content: center;
    color: var(--highlight-dark);
}

.link_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
}
.link-button:hover,
.link-button:focus {
    text-decoration: none;
}
