.list_of_files {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list_element button {
    position: relative;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 0.75rem;
    font-size: 1rem;
}

.list_element button:focus {
    outline: 0;
    box-shadow: 0 0 0 1px var(--text-color);
    z-index: 1;
}

.list_element:nth-child(2n) {
    background-color: var(--ring);
}

.list_element:hover {
    background-color: var(--highlight);
}

.list_element:focus-within {
    background-color: var(--highlight);
}
