.application {
  text-align: center;
}
.application__logo {
  width: 40vmin;
  pointer-events: none;
}

.application__header {
  background-color: var(--theme-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
