.application {
  text-align: center;
  background-color: var(--theme-color);
  min-height: 100vh;
}

.logo {
  width: 40vmin;
  pointer-events: none;
  transition: width ease-in-out 200ms;
}
.logo_init {
  width: 90vmin;
}
.logo_listview {
  width: 40vmin;
}
.logo_loadnew {
  width: 35vmin;
}
.logo_loadnew_uploadfile,
.logo_loadnew_copypaste,
.logo_loadnew_linktofile {
  width: 30vmin;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  width: 40vmin;
  margin: 0 auto;
}
