:root {
    --theme-color: #c1272d;
    --text-color: #3e3832;
    --background-color: #f7f7f7;
    --ring: #e0e0e0;
    --highlight: #d98285;
    --highlight-dark: #c27477;
    --highlight-darker: #995c5e;
}


